<!doctype html>
<!--
  Minimal Mistakes Jekyll Theme 4.16.4 by Michael Rose
  Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
  Free for personal and commercial use under the MIT license
  https://github.com/mmistakes/minimal-mistakes/blob/master/LICENSE
-->
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Open Reviews Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>
    <!-- For all browsers -->
    <link rel="stylesheet" href="/css/minimal-mistakes.css">
    <!--[if IE ]>
      <style>
        /* old IE unsupported flexbox fixes */
        .greedy-nav .site-title {
          padding-right: 3em;
        }
        .greedy-nav button {
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
        }
      </style>
    <![endif]-->
    <!-- start custom head snippets -->
    <!-- insert favicons. use https://realfavicongenerator.net/ -->
    <!-- end custom head snippets -->
  </head>
<body class="layout--splash">
{{ insert masthead.html }}

<div class="initial-content">
  <div class="page__hero--overlay"
    style="background-color: #5e616c; background-image: url('/assets/index/wide.png');">
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline">Open Reviews Association</h1>
      <p class="page__lead">Building an Open Data Ecosystem <br> for reviews of places, companies, <br> books, websites and more.</p>
    </div>
  </div>

  <div id="main" role="main">
    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
      <meta itemprop="description" content="A flexible two-column Jekyll theme. Perfect for building personal sites, blogs, and portfolios. Latest release v4.16.4">
      <section class="page__content" itemprop="text">
        <div class="feature__wrapper">
          <div class="feature__item">
            <div class="archive__item">
              <div class="archive__item-teaser">
                <img src="/assets/index/3.png" alt="100% free" />
              </div>
              <div class="archive__item-body">
                <h2 class="archive__item-title">Explore ORA</h2>
                <div class="archive__item-excerpt">
                  <p>Learn more about our vision and how we want to get there together.</p>
                </div>
                <p><a href="/about" class="btn btn--primary">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="feature__item">
            <div class="archive__item">
              <div class="archive__item-teaser">
                <img src="/assets/index/2.png" alt="fully responsive" />
              </div>
              <div class="archive__item-body">
                <h2 class="archive__item-title">Integrate Open Reviews</h2>
                <div class="archive__item-excerpt">
                  <p>Learn more about Open Reviews technology and how to include it in your website or application.</p>
                </div>
                <p><a href="/technology" class="btn btn--primary">Learn more</a></p>
              </div>
            </div>
          </div>
          <div class="feature__item">
            <div class="archive__item">
              <div class="archive__item-teaser">
                <img src="/assets/index/1.png" alt="customizable" />
              </div>
              <div class="archive__item-body">
                <h2 class="archive__item-title">Read and write reviews</h2>
                <div class="archive__item-excerpt">
                  <p>Visit our demo webapp <i>Mangrove</i> which allows for interaction with the open dataset.</p>
                </div>
                <p><a href="https://mangrove.reviews" target="_blank" class="btn btn--primary">Go to Mangrove</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>

    {{ insert foot.html }}
