<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{insert style.html}}
  <title>Tag: {{fill fd_tag}}</title>
</head>
{{insert body_layout.html}}

  <div class="{{div_content}}">
    <h1>Tag: {{fill fd_tag}}</h1>
    {{taglist}}
    {{insert page_foot.html}}
  </div>

  <!-- close what is opened in body_layout.html -->

      </div> <!-- closure of main -->
    </div>   <!-- closure of class initial--content -->

    <div class="page__footer">
      <footer>
        <!-- start custom footer snippets -->
        <!-- end custom footer snippets -->
        <div class="page__footer-follow">
          <ul class="social-icons">
            <li><strong>Follow:</strong></li>
	    <li><a rel="nofollow noopener noreferrer" href="https://mas.to/@mangroveReviews"><i class="fab fa-fw fa-mastodon" aria-hidden="true"></i> Mastodon</a></li>
          </ul>
        </div>
        <div class="page__footer-copyright">&copy; {{ fill author }}. Powered by <a href="https://github.com/tlienart/Franklin.jl">Franklin</a> &amp; <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.</div>
      </footer>
    </div>

    <script src="/libs/minimal-mistakes/main.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js" integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH" crossorigin="anonymous"></script>

</body>
</html>
